[View in Colaboratory](https://colab.research.google.com/github/namekun/algorithmTradingML-day1/blob/master/day1_ch1,2.ipynb)

# 삼성 주 데이터 다운로드, 그리고 기초통계

In [10]:
# -*- coding: utf-8 -*-
import pandas as pd
!pip install fix_yahoo_finance
import fix_yahoo_finance as yf
import datetime
pd.core.common.is_list_like = pd.api.types.is_list_like
!pip install pandas-datareader
import pandas_datareader.data as pdr
yf.pdr_override()

Requirement already satisfied: fix_yahoo_finance in /usr/local/lib/python3.6/dist-packages (0.0.22)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from fix_yahoo_finance) (2.18.4)
Requirement already satisfied: multitasking in /usr/local/lib/python3.6/dist-packages (from fix_yahoo_finance) (0.0.7)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from fix_yahoo_finance) (1.14.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from fix_yahoo_finance) (0.22.0)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->fix_yahoo_finance) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->fix_yahoo_finance) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->fix_yahoo_finance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->fix_yahoo_finance) (2018.4.16)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas->fix_yahoo_finance) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->fix_yahoo_finance) (2018.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas->fix_yahoo_finance) (1.11.0)
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.6/dist-packages (0.6.0)
Requirement already satisfied: requests-ftp in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (0.3.1)
Requirement already satisfied: requests-file in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (1.4.3)
Requirement already satisfied: wrapt in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (1.10.11)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (2.18.4)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (4.2.4)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (0.22.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from requests-file->pandas-datareader) (1.11.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (2018.4.16)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (2.6)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->pandas-datareader) (1.14.5)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->pandas-datareader) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->pandas-datareader) (2018.5)

In [11]:
# 주식 데이터 다운로드 method

def download_stock_data(file_name, company_code, year1, month1, date1, year2, month2, date2):
    start = datetime.datetime(year1, month1, date1)
    end = datetime.datetime(year2, month2, date2)
    df = pdr.get_data_yahoo(company_code + ".KS", start = start, end = end)

    df.to_pickle(file_name)

    return df

download_stock_data('samsung.data', '005930', 2018,1,1,2018,8,3)

[*********************100%***********************]  1 of 1 downloaded

               Open     High      Low    Close     Adj Close    Volume
Date
2018-01-02  51380.0  51400.0  50780.0  51020.0  32237.031250   8474250
2018-01-03  52540.0  52560.0  51420.0  51620.0  32616.140625  10013500
2018-01-04  52120.0  52180.0  50640.0  51080.0  32274.941406  11695450
2018-01-05  51300.0  52120.0  51200.0  52120.0  32932.066406   9481150
2018-01-08  52400.0  52520.0  51500.0  52020.0  32868.882813   8383650
2018-01-09  51460.0  51720.0  49980.0  50400.0  31845.283203  18013600
2018-01-10  50500.0  50520.0  48640.0  48840.0  30859.595703  18566800
2018-01-11  48200.0  49260.0  48020.0  48240.0  30480.486328  25123800
2018-01-12  48240.0  48480.0  46760.0  48200.0  30455.212891  27270450
2018-01-15  48800.0  48980.0  47920.0  48540.0  30670.041016  10096000
2018-01-16  48760.0  50140.0  48620.0  50000.0  31592.542969  20389650
2018-01-17  50020.0  50020.0  49060.0  49620.0  31352.439453  11053050
2018-01-18  50020.0  50640.0  49820.0  49900.0  31529.359375  14848850
2018-01-19  50380.0  50380.0  49040.0  49320.0  31162.884766   9219950
2018-01-22  48640.0  48680.0  47960.0  48240.0  30480.486328  12520900
2018-01-23  48660.0  49160.0  48300.0  49160.0  31061.787109  13532700
2018-01-24  48860.0  49700.0  48560.0  49340.0  31175.521484   9550500
2018-01-25  49220.0  50360.0  49160.0  50260.0  31756.824219  11160350
2018-01-26  50500.0  50780.0  49840.0  50780.0  32085.384766  10350100
2018-01-29  51200.0  51480.0  50900.0  51220.0  32363.400391  11838800
2018-01-30  50440.0  50640.0  49780.0  49800.0  31466.173828  12284550
2018-01-31  50020.0  54140.0  49600.0  49900.0  31529.359375  64681300
2018-02-01  50620.0  50960.0  49720.0  49820.0  31478.810547  27609450
2018-02-02  49380.0  49400.0  47700.0  47700.0  30139.285156  29260350
2018-02-05  46500.0  48320.0  46000.0  47920.0  30278.292969  28357900
2018-02-06  46600.0  47920.0  46580.0  47420.0  29962.369141  19406450
2018-02-07  48240.0  48260.0  45800.0  45800.0  28938.767578  23448050
2018-02-08  46120.0  46620.0  45980.0  46000.0  29065.138672  23251050
2018-02-09  44440.0  45180.0  44420.0  44700.0  28243.732422  17465000
2018-02-12  45100.0  46320.0  45040.0  45720.0  28888.222656  15754950
...             ...      ...      ...      ...           ...       ...
2018-06-25  47050.0  47050.0  46150.0  46650.0  46305.597656  10587711
2018-06-26  45900.0  47300.0  45900.0  47000.0  46653.011719  11223166
2018-06-27  47450.0  48500.0  47000.0  47950.0  47596.000000  15274752
2018-06-28  46850.0  47150.0  46600.0  46800.0  46800.000000  12784800
2018-06-29  46250.0  47150.0  46200.0  46650.0  46650.000000  14099635
2018-07-02  46500.0  47150.0  45500.0  45550.0  45550.000000  13112253
2018-07-03  45750.0  46450.0  45750.0  46150.0  46150.000000  10959655
2018-07-04  46700.0  47050.0  46050.0  46250.0  46250.000000   8776763
2018-07-05  46100.0  46550.0  45600.0  45950.0  45950.000000   7039773
2018-07-06  45500.0  45850.0  44650.0  44900.0  44900.000000  17843706
2018-07-09  45500.0  46100.0  45200.0  45600.0  45600.000000  11602464
2018-07-10  46200.0  46550.0  46100.0  46300.0  46300.000000  10528665
2018-07-11  46400.0  46450.0  45400.0  46000.0  46000.000000  11224077
2018-07-12  45900.0  46250.0  45450.0  45500.0  45500.000000  11828104
2018-07-13  45800.0  46500.0  45750.0  46500.0  46500.000000  11543389
2018-07-16  46800.0  46800.0  46000.0  46050.0  46050.000000   7678719
2018-07-17  46150.0  46200.0  45600.0  45850.0  45850.000000   8892953
2018-07-18  46700.0  47200.0  46450.0  46550.0  46550.000000  10952645
2018-07-19  47050.0  47200.0  46600.0  46900.0  46900.000000   9880128
2018-07-20  47000.0  47600.0  46700.0  47450.0  47450.000000  10474547
2018-07-23  47100.0  47200.0  46150.0  46500.0  46500.000000  10823782
2018-07-24  46350.0  46600.0  45950.0  46150.0  46150.000000   8261363
2018-07-25  46250.0  46550.0  45900.0  46150.0  46150.000000   7222471
2018-07-26  46100.0  47000.0  46000.0  46900.0  46900.000000   7374946
2018-07-27  46450.0  47000.0  46450.0  46900.0  46900.000000   4762460
2018-07-30  46550.0  46800.0  46350.0  46500.0  46500.000000   5723035
2018-07-31  46200.0  46450.0  46000.0  46250.0  46250.000000   8033607
2018-08-01  46050.0  46850.0  46050.0  46550.0  46550.000000   7484499
2018-08-02  46550.0  46800.0  45500.0  45550.0  45550.000000   8560924
2018-08-03  45850.0  45900.0  45450.0  45750.0  45750.000000   8274944

[146 rows x 6 columns]

### 저장한 주식데이터를 파일로 만들고, 그것을 다시 가져와 load한다.

In [13]:
def load_stock_data(file_name):
    df = pd.read_pickle(file_name)
    return df

df = load_stock_data('samsung.data')
print (df.describe())

               Open          High           Low         Close     Adj Close  \
count    146.000000    146.000000    146.000000    146.000000    146.000000
mean   49020.479452  49515.821918  48419.452055  48922.602740  41470.488897
std     2197.636452   2185.673654   2106.586315   2174.020288   8846.879581
min    44440.000000  45180.000000  44420.000000  44700.000000  28243.732422
25%    47012.500000  47402.500000  46462.500000  47000.000000  31491.447754
50%    49150.000000  49630.000000  48530.000000  49100.000000  46250.000000
75%    50680.000000  51390.000000  50055.000000  50730.000000  49035.296875
max    53380.000000  54140.000000  53000.000000  53000.000000  52608.718750

             Volume
count  1.460000e+02
mean   1.372711e+07
std    8.262739e+06
min    0.000000e+00
25%    9.553038e+06
50%    1.183345e+07
75%    1.567205e+07
max    6.468130e+07

### count : 데이터의 개수
### mean : 데이터의 평균값으로, 산술평균을 의미한다.
### min & max : 데이터에서 제일 작은 값 & 제일 큰 값
### std : standard deviation의 약자로, 표준 편차를 의미한다.

## 사분위수

#### 사분위수는 데이터를 동일한 크기로 4등분, 즉 25%로 4번 나눈것.

사분위는 pandas의 quantile() 함수를 사용하면 쉽게 계산이 가능하다.

In [14]:
df = load_stock_data('samsung.data')
print (df.quantile([.25, .5, .45]))

         Open     High      Low    Close     Adj Close       Volume
0.25  47012.5  47402.5  46462.5  47000.0  31491.447754   9553037.50
0.50  49150.0  49630.0  48530.0  49100.0  46250.000000  11833452.00
0.45  48715.0  49230.0  48050.0  48710.0  45875.000000  11223393.75

## IQR

#### IQR은 분포에서 하위 25%와 상위 25%를 제외한 중간에 있는 50%의 범위를 나타낸다. 

#### IQR = Q3 - Q1

#### IQR은 전체 분포중에서 가운데에 위치하고 있어 대다수 데이터가 어느 범위에 있는지를 가늠할 수 있게 한다.

## 히스토그램

#### 데이터의 구성과 패턴을 파악하는데 많이 사용하는 방법중 하나로, 데이터의 분포를 그래프 형태로 나타낸 것이다.

#### 히스토그램을 그리려면, Bin과 빈도가 필요하다. 
#### Bin은 전체 데이터를 겹치지 않는 일정크리고 나눈 간격을 의미, 빈도는 선택한 Bin에 속한 데이터의 수를 나타낸다.

#### 삼성전자 주가의 히스토그램을 그려보자

In [0]:
import matplotlib.pyplot as plt

df = load_stock_data('samsung.data')
(n, bins, patched) = plt.hist(df['Open'])
plt.axvline(df['Open'].mean(), color = 'red')
plt.show()
for index in range(len(n)):
    print " Bin :  %0.f, Frequency = %0.f" % (bins[index], n[index])

##히스토그램의 이해

### 히스토그램의 주요항목은 다음과 같다.

* 중심성향 :  데이터가 평균값을 중심으로 분포되어있는가?
* Modes : 데이터 분포상 하나 이상의 무리가 있는가?
* spread : 데이터가 어느 정도로 분산되어 있는가?
* Tail : 하위 25%와 상위 25% 데이터 분포의 기울기 하락도가 완만한가? 아니면 급한가?
* 이상치 : 예외값이 분포도에 존재하는가?

## 정규분포

### : 데이터의 중심을 나타내는 평균과 데이터의 밀집정도를 나타내는 표준편차에 의해 결정되는 분포
### 다른이름으로는 가우스 분포라고 한다. 
### 특히, 평균이 0이고 표준편차가 1인 정규분포를 표준정규분포라고 한다.

## 산점도

### 2개의 변수를 직교좌표계에 그린 그래프
### 변수간의 관계 파악에 유용

### 산점도 행렬

### pandas에서 다수의 변수에 대한 산점도를 한 번에 그려주는 scatter_matrix()라는 함수를 사용한다.

In [0]:
from pandas.plotting import scatter_matrix

df = load_stock_data('samsung.data')
scatter_matrix(df[['Open', 'High', 'Low', 'Close']], alpha = 0.2 , figsize =(6,6), diagonal ='kde')
plt.show()


 * Open은 커널밀도추정 그래프다. 커널밀도추정은 커널함수를 이요해 어떤 변수의 분포특성을 추정하는것.

## BoxPlot(상자 그림)

### 중앙값, 평균값, 사분위, 이상치 값들을 한눈에 알아볼 수 있는 그래프이다.
### 데이터의 전체 모습을 파악하는 데 매우 유용하게 사용할 수 있다.

## 상자그림의 구성요소

* 이상치 : 양단의 Whisker에 속하지 않은 값으로 일반적인 데이터값이 아닌 값들이다.
* Whisker : 하단의 Whisker는 'Q1 - 1.5 x IQR', 상단의 Whisker는 'Q1 + 1.5 x IQR'로 계산한 값이다.
* Mean : 평균값
* Median : 중앙값
* Quartile : 25th 백분위수는 사분위의 Q1이고 75th 백분위수는 Q3이다.

In [0]:
# 상자그림 그리기

df = load_stock_data('samsung.data')
df[['Open', 'High', 'Low', 'Close', 'Adj Close']].plot(kind='box')
plt.show()